/*
This is for general CSS
*/

/* The body */
body {
    padding: 30px;
    font-family: 'Roboto', sans-serif, Arial;
    background-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
}

/* All buttons */
button {
    cursor: pointer;
}

/* For elements that are not meant to be seen */
.hidden {
    display: none;
}

/* Optional: idk if i like border radius or not */
.left-side,
.display-container,
.upper-right-container,
.middle-container,
.typing-container,
.last-container {
    border-radius: 15px;
}