/*
This is the css for the left container that holds all the times + pbs 
*/

/* Container holding the Logo, "Time", "Ao5" titles*/
.titles-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    font-size: 30px;
    
}

/* Logo */
.logo {
    height: 70px;
    width: 70px;
    border: none;

    margin-top: -10px;
    margin-left: -12px;
}

/* The "Time" and "Ao5" titles */
.title {
    margin-left: 15px;
}

/* Holds times container*/
.big-times-container {
    height: 350px;

    box-shadow: inset 0px -5px 5px 0 rgb(0, 0, 0, 0.1), inset 0px 5px 5px 0 rgb(0, 0, 0, 0.1);

    border-radius: 0px;
}

/* Contains all the times (nth solve, the time, and cur ao5) */
.times-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    font-size: 24px;

    overflow-y: auto;
    overflow-x: hidden;

    max-height: 350px;

    /*
    border-bottom-width: 1px;
    border-bottom-style: solid;
    */
    width: 270px;

    margin-left: 40px;

}

/* Scrollbar for the times container */
.times-container::-webkit-scrollbar {
    background-color: transparent;
}

/* The time of a solve */
.time {
    color:rgb(84, 73, 86);
}

/* The average of 5 at one certain solve */
.average {
    margin-left: 15px;
    color:rgb(84, 73, 86);
}

/* Container holding the personal bests */
.personal-bests-container {
    font-size: 22px;
    display: grid;
    grid-template-columns: 5fr 4fr;

    margin-left: 40px;
    margin-right: 40px;

}

/* Container holding the "PBs" and "Type" titles*/
.pb-titles-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    width: 300px;
    margin-left: 12px;

    /*
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color:rgb(71, 38, 53);
    */
    
}

/* The "PBs" and "Type" titles */
.pb-title {
    font-size: 20px;
    text-align: center;
}

/* The time and type for each PB */
.pb-text {
    font-size: 16px;
    margin-top: 5px;

    /*
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:rgb(71, 38, 53);
    */

}