/*
This is for the bottom right container that holds your cubing buddy 
*/

/* Picture of the cubing buddy */
.buddy-icon {
    height: 50px;
    margin: 30px 10px 10px 10px;

    position: relative;
}

/* Container for the speech bubble */
.speech-bubble-container {
    bottom: 130px;
    right: 190px;
    
    position: absolute;
    z-index: 30;
}

/* The speech bubble image */
.speech-bubble {
    height: 100px;
}

/* When the speech bubble is flipped */
.speech-bubble-flipped {
    transform: scaleX(-1);
    margin-right: 235px;
}

/* Speech bubble text */
.speech-bubble-container p {
    position: absolute;
    font-size: 20px;
    margin-left: 15px;

    bottom: 37px;
}