/*
This is for the sidebar
*/

/* The sidebar itself */
.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgb(35, 35, 35);
    width: 250px;

    z-index: 200;

    padding-top: 10px;
}

/* The logo container */
.sidebar-logo {
    display: flex;
    align-items: center;

    margin-bottom: 30px;
}

/* The logo image */
.sidebar-logo img {
    height: 70px;
    width: 70px;

    margin: 10px 10px 10px 30px;
}

/* The name "Cubing Buddy" */
.web-name {
    display: inline-block;
    
    color: rgb(150, 209, 168);
    font-size: 18px;
    margin-left: 5px;
}

/* Container for all sidebar options */
.sidebar-option {
    display: flex;

    margin-bottom: 20px;
}

/* Each sidebar option button */
.sidebar-button {
    height: 60px;
    width: 60px;
    background: transparent;
    border: none;
    margin: 20px 0px 0px 30px;
}

/* For sidebar option icons */
.sidebar-icon {
    height: 50px;
    width: 50px;

    margin: 0px 30px 0px 40px;
}

/* Name of each sidebar option */
.subtitle {
    color: rgb(150, 209, 168);
    display: inline-block;
}